/* ---------- carousel ---------- */
.wi-carousel {
  position: relative;
  height: 100%;
}
.wi-carousel-inner {
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 100%;
}
/* wi-carousel-ctrl ： 上一张、下一张 */
.wi-carousel > a {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  top: 0;
  bottom: 0;
  width: 15%;
  color: #ffffff;
  /* 箭头颜色 */
  filter: alpha(opacity=50);
  opacity: 0.5;
  text-decoration: none;
}
.wi-carousel > a:hover,
.wi-carousel > a:focus {
  text-decoration: none;
  outline: none;
  filter: alpha(opacity=90);
  opacity: 0.9;
}
a.wi-carousel-ctrl-left {
  text-align: left;
  left: 0;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0%), color-stop(rgba(0, 0, 0, 0) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
a.wi-carousel-ctrl-right {
  text-align: right;
  right: 0;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.wi-carousel > a > span {
  position: absolute;
  top: 50%;
  display: inline-block;
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
}
a.wi-carousel-ctrl-left > span {
  left: 50%;
  margin-left: -15px;
}
a.wi-carousel-ctrl-right > span {
  right: 50%;
  margin-right: -15px;
}
ul.wi-carousel-ul {
  margin-left: -30%;
  position: absolute;
  left: 50%;
  z-index: 1;
  width: 60%;
  text-align: center;
  bottom: 20px;
}
.wi-carousel-ul > li {
  margin: 1px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  display: inline-block;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}
.wi-carousel-ul > li.wi-carousel-active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}
/* ---------- slide ---------- */
.wi-slide {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.wi-slide-active,
.wi-slide-next,
.wi-slide-prev {
  display: block;
}
.wi-slide-active {
  left: 0;
}
.wi-slide-next,
.wi-slide-prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.wi-slide-next.wi-slide-left,
.wi-slide-prev.wi-slide-right {
  left: 0;
}
.wi-slide-next,
.wi-slide-active.wi-slide-right {
  left: 100%;
}
.wi-slide-prev,
.wi-slide-active.wi-slide-left {
  left: -100%;
}
