* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.wi-caption {
  font-size: 14px;
  font-weight: bold;
}
body,
input,
button,
select {
  font: 14px/1.5 "tahoma", "arial", "Hiragino Sans GB", "\5b8b\4f53", "sans-serif";
  color: #003f59;
}
form,
button,
input,
textarea,
dd,
dl,
dt,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre,
th,
td {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
.wi-clearf:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.wi-clearf {
  zoom: 1;
}
.wi-unselectable {
  /* 文字不可选 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wi-fade {
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.wi-center {
  text-align: center;
}
.wi-display-none {
  display: none;
}
.wi-display-inlineb {
  display: inline-block;
}
/* 按钮 */
.wi-btn,
.wi-btn-primary {
  color: #003f59;
  text-align: center;
  vertical-align: middle;
  padding: 1px 6px 2px;
  padding: 2px 6px\0;
  cursor: pointer;
  border: 1px solid #94c0d2;
  text-decoration: none;
  background-color: #daecf4;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.45) 0, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.45) 0, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37ffffff', endColorstr='#00ffffff', GradientType=0);
}
.wi-btn:hover,
.wi-btn:focus,
.wi-btn-primary:hover,
.wi-btn-primary:focus {
  color: #444444;
  background-color: #7bd2f6;
  text-decoration: none;
}
.wi-btn:active,
.wi-btn-primary:active {
  color: #003f59;
  outline: 0;
  -moz-box-shadow: 0 0 4px 1px #7ec6e3;
  -webkit-box-shadow: 0 0 4px 1px #7ec6e3;
  box-shadow: 0 0 4px 1px #7ec6e3;
}
.wi-btn:disabled {
  background-color: #eaf4f9;
  cursor: not-allowed;
}
.wi-btn-primary {
  background-color: #daecf4;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.45) 0, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.45) 0, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37ffffff', endColorstr='#00ffffff', GradientType=0);
}
.wi-btn-icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
input[type="radio"].wi-radio,
input[type="checkbox"].wi-checkbox {
  vertical-align: middle;
}
textarea {
  color: #003f59;
  background-color: #ffffff;
  border: solid 1px #94c0d2;
  padding: 2px;
  outline: none;
}
input:not([type]),
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select {
  color: #003f59;
  background-color: #ffffff;
  border: solid 1px #94c0d2;
  padding: 2px;
  outline: none;
  height: 23px;
}
textarea:focus,
input:not([type]):focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus {
  outline: 0;
  -moz-box-shadow: 0 0 4px 1px #7ec6e3;
  -webkit-box-shadow: 0 0 4px 1px #7ec6e3;
  box-shadow: 0 0 4px 1px #7ec6e3;
}
textarea:disabled,
input:not([type]):disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="time"]:disabled,
input[type="week"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="color"]:disabled,
select:disabled {
  background: #eaf4f9;
  cursor: not-allowed;
}
/* 栅格布局 */
.wi-row {
  margin: auto;
}
.wi-row:before,
.wi-row:after {
  display: table;
  content: " ";
}
.wi-row:after {
  clear: both;
}
.wi-row > [class^="wi-col-"],
.wi-row > [class*=" wi-col-"] {
  padding: 0 15px;
  float: left;
}
.wi-row > .wi-col-12 {
  width: 100%;
}
.wi-row > .wi-col-11 {
  width: 91.66666667%;
}
.wi-row > .wi-col-10 {
  width: 83.33333333%;
}
.wi-row > .wi-col-9 {
  width: 75%;
}
.wi-row > .wi-col-8 {
  width: 66.66666667%;
}
.wi-row > .wi-col-7 {
  width: 58.33333333%;
}
.wi-row > .wi-col-6 {
  width: 50%;
}
.wi-row > .wi-col-5 {
  width: 41.66666667%;
}
.wi-row > .wi-col-4 {
  width: 33.33333333%;
}
.wi-row > .wi-col-3 {
  width: 25%;
}
.wi-row > .wi-col-2 {
  width: 16.66666667%;
}
.wi-row > .wi-col-1 {
  width: 8.33333333%;
}
.wi-row > .wi-offset-12 {
  margin-left: 100%;
}
.wi-row > .wi-offset-11 {
  margin-left: 91.66666667%;
}
.wi-row > .wi-offset-10 {
  margin-left: 83.33333333%;
}
.wi-row > .wi-offset-9 {
  margin-left: 75%;
}
.wi-row > .wi-offset-8 {
  margin-left: 66.66666667%;
}
.wi-row > .wi-offset-7 {
  margin-left: 58.33333333%;
}
.wi-row > .wi-offset-6 {
  margin-left: 50%;
}
.wi-row > .wi-offset-5 {
  margin-left: 41.66666667%;
}
.wi-row > .wi-offset-4 {
  margin-left: 33.33333333%;
}
.wi-row > .wi-offset-3 {
  margin-left: 25%;
}
.wi-row > .wi-offset-2 {
  margin-left: 16.66666667%;
}
.wi-row > .wi-offset-1 {
  margin-left: 8.33333333%;
}
.wi-row > .wi-offset-0 {
  margin-left: 0;
}
/* 表单布局 */
.wi-form > div:not(:last-child) {
  margin-bottom: .6em;
}
.wi-form-block > div > label {
  display: block;
}
.wi-form-block .wi-ctrl {
  width: 100%;
}
/* 矢量图标 */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}
.icon-asterisk:before {
  content: "\2a";
}
.icon-plus:before {
  content: "\2b";
}
.icon-euro:before {
  content: "\20ac";
}
.icon-minus:before {
  content: "\2212";
}
.icon-cloud:before {
  content: "\2601";
}
.icon-envelope:before {
  content: "\2709";
}
.icon-pencil:before {
  content: "\270f";
}
.icon-glass:before {
  content: "\e001";
}
.icon-music:before {
  content: "\e002";
  color: #72DB67;
}
.icon-search:before {
  content: "\e003";
}
.icon-heart:before {
  content: "\e005";
}
.icon-star:before {
  content: "\e006";
}
.icon-star-empty:before {
  content: "\e007";
}
.icon-user:before {
  content: "\e008";
}
.icon-film:before {
  content: "\e009";
  color: #704924;
}
.icon-th-large:before {
  content: "\e010";
}
.icon-th:before {
  content: "\e011";
}
.icon-th-list:before {
  content: "\e012";
}
.icon-ok:before {
  content: "\e013";
}
.icon-remove:before {
  content: "\e014";
}
.icon-zoom-in:before {
  content: "\e015";
}
.icon-zoom-out:before {
  content: "\e016";
}
.icon-off:before {
  content: "\e017";
}
.icon-signal:before {
  content: "\e018";
}
.icon-cog:before {
  content: "\e019";
}
.icon-trash:before {
  content: "\e020";
}
.icon-home:before {
  content: "\e021";
}
.icon-file:before {
  content: "\e022";
  color: #c2d8f0;
}
.icon-time:before {
  content: "\e023";
}
.icon-road:before {
  content: "\e024";
}
.icon-download-alt:before {
  content: "\e025";
}
.icon-download:before {
  content: "\e026";
}
.icon-upload:before {
  content: "\e027";
}
.icon-inbox:before {
  content: "\e028";
}
.icon-play-circle:before {
  content: "\e029";
}
.icon-repeat:before {
  content: "\e030";
}
.icon-refresh:before {
  content: "\e031";
}
.icon-list-alt:before {
  content: "\e032";
}
.icon-lock:before {
  content: "\e033";
}
.icon-flag:before {
  content: "\e034";
}
.icon-headphones:before {
  content: "\e035";
}
.icon-volume-off:before {
  content: "\e036";
}
.icon-volume-down:before {
  content: "\e037";
}
.icon-volume-up:before {
  content: "\e038";
}
.icon-qrcode:before {
  content: "\e039";
}
.icon-barcode:before {
  content: "\e040";
}
.icon-tag:before {
  content: "\e041";
}
.icon-tags:before {
  content: "\e042";
}
.icon-book:before {
  content: "\e043";
}
.icon-bookmark:before {
  content: "\e044";
}
.icon-print:before {
  content: "\e045";
}
.icon-camera:before {
  content: "\e046";
}
.icon-font:before {
  content: "\e047";
}
.icon-bold:before {
  content: "\e048";
}
.icon-italic:before {
  content: "\e049";
}
.icon-text-height:before {
  content: "\e050";
}
.icon-text-width:before {
  content: "\e051";
}
.icon-align-left:before {
  content: "\e052";
}
.icon-align-center:before {
  content: "\e053";
}
.icon-align-right:before {
  content: "\e054";
}
.icon-align-justify:before {
  content: "\e055";
}
.icon-list:before {
  content: "\e056";
}
.icon-indent-left:before {
  content: "\e057";
}
.icon-indent-right:before {
  content: "\e058";
}
.icon-facetime-video:before {
  content: "\e059";
}
.icon-picture:before {
  content: "\e060";
  color: #FFB0FC;
}
.icon-map-marker:before {
  content: "\e062";
}
.icon-adjust:before {
  content: "\e063";
}
.icon-tint:before {
  content: "\e064";
}
.icon-edit:before {
  content: "\e065";
}
.icon-share:before {
  content: "\e066";
}
.icon-check:before {
  content: "\e067";
}
.icon-move:before {
  content: "\e068";
}
.icon-step-backward:before {
  content: "\e069";
}
.icon-fast-backward:before {
  content: "\e070";
}
.icon-backward:before {
  content: "\e071";
}
.icon-play:before {
  content: "\e072";
}
.icon-pause:before {
  content: "\e073";
}
.icon-stop:before {
  content: "\e074";
}
.icon-forward:before {
  content: "\e075";
}
.icon-fast-forward:before {
  content: "\e076";
}
.icon-step-forward:before {
  content: "\e077";
}
.icon-eject:before {
  content: "\e078";
}
.icon-chevron-left:before {
  content: "\e079";
}
.icon-chevron-right:before {
  content: "\e080";
}
.icon-plus-sign:before {
  content: "\e081";
}
.icon-minus-sign:before {
  content: "\e082";
}
.icon-remove-sign:before {
  content: "\e083";
}
.icon-ok-sign:before {
  content: "\e084";
}
.icon-question-sign:before {
  content: "\e085";
}
.icon-info-sign:before {
  content: "\e086";
}
.icon-screenshot:before {
  content: "\e087";
}
.icon-remove-circle:before {
  content: "\e088";
}
.icon-ok-circle:before {
  content: "\e089";
}
.icon-ban-circle:before {
  content: "\e090";
}
.icon-arrow-left:before {
  content: "\e091";
}
.icon-arrow-right:before {
  content: "\e092";
}
.icon-arrow-up:before {
  content: "\e093";
}
.icon-arrow-down:before {
  content: "\e094";
}
.icon-share-alt:before {
  content: "\e095";
}
.icon-resize-full:before {
  content: "\e096";
}
.icon-resize-small:before {
  content: "\e097";
}
.icon-exclamation-sign:before {
  content: "\e101";
}
.icon-gift:before {
  content: "\e102";
}
.icon-leaf:before {
  content: "\e103";
}
.icon-fire:before {
  content: "\e104";
}
.icon-eye-open:before {
  content: "\e105";
}
.icon-eye-close:before {
  content: "\e106";
}
.icon-warning-sign:before {
  content: "\e107";
}
.icon-plane:before {
  content: "\e108";
}
.icon-calendar:before {
  content: "\e109";
}
.icon-random:before {
  content: "\e110";
}
.icon-comment:before {
  content: "\e111";
}
.icon-magnet:before {
  content: "\e112";
}
.icon-chevron-up:before {
  content: "\e113";
}
.icon-chevron-down:before {
  content: "\e114";
}
.icon-retweet:before {
  content: "\e115";
}
.icon-shopping-cart:before {
  content: "\e116";
}
.icon-folder-close:before {
  content: "\e117";
  color: #f9e39d;
}
.icon-folder-open:before {
  content: "\e118";
  color: #f9e39d;
}
.icon-resize-vertical:before {
  content: "\e119";
}
.icon-resize-horizontal:before {
  content: "\e120";
}
.icon-hdd:before {
  content: "\e121";
}
.icon-bullhorn:before {
  content: "\e122";
}
.icon-bell:before {
  content: "\e123";
}
.icon-certificate:before {
  content: "\e124";
}
.icon-thumbs-up:before {
  content: "\e125";
}
.icon-thumbs-down:before {
  content: "\e126";
}
.icon-hand-right:before {
  content: "\e127";
}
.icon-hand-left:before {
  content: "\e128";
}
.icon-hand-up:before {
  content: "\e129";
}
.icon-hand-down:before {
  content: "\e130";
}
.icon-circle-arrow-right:before {
  content: "\e131";
}
.icon-circle-arrow-left:before {
  content: "\e132";
}
.icon-circle-arrow-up:before {
  content: "\e133";
}
.icon-circle-arrow-down:before {
  content: "\e134";
}
.icon-globe:before {
  content: "\e135";
}
.icon-wrench:before {
  content: "\e136";
}
.icon-tasks:before {
  content: "\e137";
}
.icon-filter:before {
  content: "\e138";
}
.icon-briefcase:before {
  content: "\e139";
}
.icon-fullscreen:before {
  content: "\e140";
}
.icon-dashboard:before {
  content: "\e141";
}
.icon-paperclip:before {
  content: "\e142";
}
.icon-heart-empty:before {
  content: "\e143";
}
.icon-link:before {
  content: "\e144";
}
.icon-phone:before {
  content: "\e145";
}
.icon-pushpin:before {
  content: "\e146";
}
.icon-usd:before {
  content: "\e148";
}
.icon-gbp:before {
  content: "\e149";
}
.icon-sort:before {
  content: "\e150";
}
.icon-sort-by-alphabet:before {
  content: "\e151";
}
.icon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.icon-sort-by-order:before {
  content: "\e153";
}
.icon-sort-by-order-alt:before {
  content: "\e154";
}
.icon-sort-by-attributes:before {
  content: "\e155";
}
.icon-sort-by-attributes-alt:before {
  content: "\e156";
}
.icon-unchecked:before {
  content: "\e157";
}
.icon-expand:before {
  content: "\e158";
}
.icon-collapse-down:before {
  content: "\e159";
}
.icon-collapse-up:before {
  content: "\e160";
}
.icon-log-in:before {
  content: "\e161";
}
.icon-flash:before {
  content: "\e162";
}
.icon-log-out:before {
  content: "\e163";
}
.icon-new-window:before {
  content: "\e164";
}
.icon-record:before {
  content: "\e165";
}
.icon-save:before {
  content: "\e166";
}
.icon-open:before {
  content: "\e167";
}
.icon-saved:before {
  content: "\e168";
}
.icon-import:before {
  content: "\e169";
}
.icon-export:before {
  content: "\e170";
}
.icon-send:before {
  content: "\e171";
}
.icon-floppy-disk:before {
  content: "\e172";
}
.icon-floppy-saved:before {
  content: "\e173";
}
.icon-floppy-remove:before {
  content: "\e174";
}
.icon-floppy-save:before {
  content: "\e175";
}
.icon-floppy-open:before {
  content: "\e176";
}
.icon-credit-card:before {
  content: "\e177";
}
.icon-transfer:before {
  content: "\e178";
}
.icon-cutlery:before {
  content: "\e179";
}
.icon-header:before {
  content: "\e180";
}
.icon-compressed:before {
  content: "\e181";
}
.icon-earphone:before {
  content: "\e182";
}
.icon-phone-alt:before {
  content: "\e183";
}
.icon-tower:before {
  content: "\e184";
}
.icon-stats:before {
  content: "\e185";
}
.icon-sd-video:before {
  content: "\e186";
}
.icon-hd-video:before {
  content: "\e187";
}
.icon-subtitles:before {
  content: "\e188";
}
.icon-sound-stereo:before {
  content: "\e189";
}
.icon-sound-dolby:before {
  content: "\e190";
}
.icon-sound-5-1:before {
  content: "\e191";
}
.icon-sound-6-1:before {
  content: "\e192";
}
.icon-sound-7-1:before {
  content: "\e193";
}
.icon-copyright-mark:before {
  content: "\e194";
}
.icon-registration-mark:before {
  content: "\e195";
}
.icon-cloud-download:before {
  content: "\e197";
}
.icon-cloud-upload:before {
  content: "\e198";
}
.icon-tree-conifer:before {
  content: "\e199";
}
.icon-tree-deciduous:before {
  content: "\e200";
}
/* ------------------------------------------------------------ */
/* 供resize.js使用 start */
.resize-triggers {
  visibility: hidden;
}
.resize-triggers,
.resize-triggers > div,
.contract-trigger:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.resize-triggers > div {
  background: #eee;
  overflow: auto;
}
.contract-trigger:before {
  width: 200%;
  height: 200%;
}
/* 供resize.js使用 end */
