/* ---------- camerascanner ---------- */
.wi-camerascanner {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
  overflow: auto;
  z-index: 1050;
}
.wi-camerascanner-hide {
  top: -110%;
  left: -110%;
  right: 110%;
  bottom: 110%;
}
.wi-camerascanner-main {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #ffffff;
  margin: 10px auto;
  -moz-box-shadow: 2px 2px 10px 0 rgba(128, 128, 128, 0.3);
  -webkit-box-shadow: 2px 2px 10px 0 rgba(128, 128, 128, 0.3);
  box-shadow: 2px 2px 10px 0 rgba(128, 128, 128, 0.3);
  overflow: hidden;
}
.wi-camerascanner-opt {
  float: left;
  margin: 10px;
}
.wi-camerascanner-toolbar {
  text-align: center;
  margin: 10px;
}
.wi-camerascanner-toolbar > a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('images/camerascanner/tools.png');
}
a.wi-camerascanner-left {
  background-position: 0 0;
}
a.wi-camerascanner-right {
  background-position: -20px 0;
  margin-left: 10px;
}
a.wi-camerascanner-reset {
  background-position: -40px 0;
  margin-left: 10px;
}
.wi-camerascanner-btns {
  text-align: right;
  margin: 10px;
}
.wi-camerascanner-btns > a {
  display: inline-block;
  width: 90px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
  vertical-align: baseline;
  padding: 0;
}
a.wi-camerascanner-btn {
  background: url('images/camerascanner/tools.png') 2px -22px no-repeat #0092dc;
  border: solid 1px #0070a9;
  color: #ffffff;
  padding-left: 40px;
}
a.wi-camerascanner-btn:hover {
  background-color: #ffd256;
  color: #333333;
}
.wi-camerascanner-list {
  float: left;
  margin: 10px 10px 10px 0;
  border: 1px solid #cccccc;
  overflow-y: auto;
}
.wi-camerascanner-wait {
  background: url('images/camerascanner/wait.gif') #1a1a1a center center no-repeat;
}
.wi-camerascanner-photo {
  float: left;
  position: relative;
  border: 1px solid #cccccc;
  margin: 18px 0 0 18px;
}
.wi-camerascanner-photo > a.icon-remove {
  position: absolute;
  top: 3px;
  right: 3px;
  text-decoration: none;
  color: #808080;
}
.wi-camerascanner-photo > a.icon-remove:hover {
  color: #333333;
}
.wi-camerascanner-photo > div {
  width: 220px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 13px;
  position: absolute;
  background: #000;
  bottom: 0;
  right: 0;
  padding-left: 5px;
  display: none;
}
.wi-camerascanner-qulitity {
  float: right;
  width: 260px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: right;
}
